<h1>Vyšetrenie</h1>
<h4>Pacient</h4>
<div *ngIf="patient$ | async as patient">
  <div class="row">
    <label class="col-sm-3">Meno:</label>
    <div class="col-sm-9">{{patient.firstName}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Priezvisko:</label>
    <div class="col-sm-9">{{patient.lastName}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Rodné číslo:</label>
    <div class="col-sm-9">{{patient.identificationNumber}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Telefón:</label>
    <div class="col-sm-9">{{patient.phoneNumber}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Dátum narodenia:</label>
    <div class="col-sm-9">{{patient.dateOfBirth}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Adresa:</label>
    <div class="col-sm-9">{{patient.address}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">Mesto:</label>
    <div class="col-sm-9">{{patient.town}}</div>
  </div>
  <div class="row">
    <label class="col-sm-3">PSČ:</label>
    <div class="col-sm-9">{{patient.zipCode}}</div>
  </div>
</div>

<h4 style="margin-top: 15px">Príznaky</h4>
<ng-container *ngIf="form$ | async as form" [formGroup]="form">
  <div class="form-group row" *ngIf="institutions$ | async as institutions">
    <label class="col-sm-3 col-form-label">Odberné miesto:</label>
    <div class="col-sm-9">
      <select class="form-control" formControlName="institutionId">
        <option value="0">Vyberte odberné miesto</option>
        <option *ngFor="let institution of institutions" [value]="institution.id">{{institution.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Kašeľ:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="cough" value="none" checked>
        <label class="form-check-label">Žiadny</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="cough" value="mild" checked>
        <label class="form-check-label">Mierny</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="cough" value="severe" checked>
        <label class="form-check-label">Výrazný</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Dýchavičnosť:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="breathShortness" value="none" checked>
        <label class="form-check-label">Žiadna</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="breathShortness" value="mild" checked>
        <label class="form-check-label">Mierna</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="breathShortness" value="severe" checked>
        <label class="form-check-label">Výrazná</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Horúčka >38°C:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="fever" value="none" checked>
        <label class="form-check-label">Žiadna</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="fever" value="mild" checked>
        <label class="form-check-label">Mierna</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="fever" value="severe" checked>
        <label class="form-check-label">Výrazná</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Iné</label>
    <div class="col-sm-9">
      <textarea class="form-control" formControlName="other"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Návšteva v zahraničí:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="abroad">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Kontakt s chorým:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="illPersonContact">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Kontakt s nakazeným COVID-19:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="covid19Contact">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Stav:</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="status" value="Initial" checked>
        <label class="form-check-label">Neznámy</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="status" value="Positive" checked>
        <label class="form-check-label">Pozitívny</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="status" value="Negative" checked>
        <label class="form-check-label">Negatívny</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <a class="btn btn-default" *ngIf="patient$ | async as patient" routerLink="/admin/detail/{{patient.id}}" routerLinkActive="active">Naspäť</a>
      <button (click)="onSaveClick()" class="btn btn-primary">Uložiť</button>
    </div>
  </div>
</ng-container>
