<h1>Odberné miesta</h1>
<p>
  <a class="btn btn-default" routerLink="/admin" routerLinkActive="active">Naspäť</a>
  <a class="btn btn-primary btn-sm" routerLink="/admin/institution/new" routerLinkActive="active">Nové odberné miesto</a>
</p>

<table class="table" *ngIf="institutions$ | async as institutions">
  <tr>
    <th>Názov</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let institution of institutions">
    <td>{{institution.name}}</td>
    <td><a routerLink="/admin/institution/{{institution.id}}" routerLinkActive="active">Upraviť</a></td>
    <td><a routerLink="/admin/institutions" routerLinkActive="active" (click)="onDeleteClick(institution.id)">Zmazať</a></td>
  </tr>
</table>
<hr/>
