// Overrides of bootstrap styles
$font-family-sans-serif: "Roboto", sans-serif;

$theme-colors: (
  "primary": #696CFE,
  "secondary": #78879A
);

$body-color: #354E5D;

// Custom variables

// Space
$space-default: 12px;

// Color
$color-border: #D1DAE3;
