<div class="safe-zone" [@Enter]>
  <div class="info-holder">
    <div class="info">
      <h3 class="info-text">{{ 'HOME.STEP1' | translate }}</h3>
      <p class="info-decription text-secondary">{{ 'HOME.DESCRIPTION' | translate }}</p>
      <img class="info-img" src="/assets/images/intro-screen-2.jpg" alt="">
    </div>
  </div>
  <div class="bottom-cta">
      <button type="button" class="btn-next btn btn-primary" routerLink="/scan-code" routerLinkActive="active">
        {{ 'NAVIGATION.NEXT' | translate }}
      </button>
  </div>
</div>
