@import "src/app/variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.safe-zone {
  flex-direction: column;
}

.info-holder {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.info-description {
  margin-bottom: 30px;
}

.info-img {
  width: 80%;
  max-width: 300px;
}

.bottom-cta {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.btn-next {
  width: 100%;
}
