<app-header [icon]="icon" title="{{ 'QR_CODE.TITLE' | translate }}"
            subTitle="{{ 'QR_CODE.SUBTITLE' | translate }}"
            language="EN">
</app-header>
<div class="safe-zone">
  <div class="code-page">
    <div class="center-content">
      <div class="code-page__headline">{{ 'QR_CODE.SHOW_YOUR_CODE' | translate }}</div>

      <div class="code-page__description text-secondary">{{ 'QR_CODE.SHOW_YOUR_CODE_DESCRIPTION' | translate }}</div>

      <div class="code-page__qr-code">
        <qr-code [value]="userId" [size]="300"></qr-code>
      </div>
    </div>

    <div class="bottom-cta">
      <button class="btn-prev btn btn-link text-uppercase" routerLink="/form" routerLinkActive="active"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
    </div>

  </div>
</div>
