<h1>Pacienti</h1>
<button>Pridat pacienta</button>
<p>
  <a class="btn btn-default" routerLink="/admin" routerLinkActive="active">Naspäť</a>
  <a class="btn btn-primary btn-sm" routerLink="/admin/detail/new" routerLinkActive="active">Pridať pacienta</a>
  <a style="margin-left: 10px" class="btn btn-primary btn-sm" routerLink="/admin/scan" routerLinkActive="active">Naskenovať QR kód</a>
</p>
<p>
  <em>Tu bude filter</em>
</p>
<table class="table">
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Telefón</th>
    <th>Rodné číslo</th>
    <th>Dátum narodenia</th>
    <th>Adresa</th>
    <th>Mesto</th>
    <th>PSČ</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let patient of patients$ | async">
    <td>{{patient.firstName}}</td>
    <td>{{patient.lastName}}</td>
    <td>{{patient.phoneNumber}}</td>
    <td>{{patient.identificationNumber}}</td>
    <td>{{patient.dateOfBirth}}</td>
    <td>{{patient.address}}</td>
    <td>{{patient.town}}</td>
    <td>{{patient.zipCode}}</td>
    <td>
      <a routerLink="/admin/detail/{{patient.id}}" routerLinkActive="active">Upraviť</a>
    </td>
    <td>
      <a routerLink="/admin/patients" routerLinkActive="active" (click)="onDeleteClick(patient.id)">Zmazať</a>
    </td>
  </tr>
</table>
<hr/>
