<h1>Pacienti</h1>
<p>
  Tu bude filter
</p>
<table border="1">
  <tr>
    <td>Meno</td>
    <td>Priezvisko</td>
    <td>Rodné číslo</td>
  </tr>
  <tr *ngFor="let patient of patients$ | async">
    <td>
      <a routerLink="/admin/detail/{{patient.id}}" routerLinkActive="active">{{patient.firstName}}</a>
    </td>
    <td>{{patient.lastName}}</td>
    <td>{{patient.birthId}}</td>
  </tr>
</table>
<a routerLink="/admin/detail/abcd" routerLinkActive="active">Oskenovat QR kod</a>
| <a routerLink="/admin" routerLinkActive="active">Naspat</a>
