:host,
.bottom-cta {
  display: flex;
  width: 100%;
}

:host {
  flex-direction: column;
  height: 100%;
}

.code-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.center-content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.code-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.code-page__headline {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.code-page__description {
  display: flex;
  margin: 12px;
  text-align: center;
}

.code-page__qr-code {
  display: flex;
  justify-content: space-around;
  margin: 48px;
}

.bottom-cta {
  justify-content: flex-start;
}
