<app-header [icon]="icon" title="{{ 'REGISTRATION.TITLE' | translate }}"
            subTitle="{{ 'REGISTRATION.SUBTITLE' | translate }}"
            language="EN">
</app-header>
<div class="safe-zone">
  <app-multi-step-form *ngIf="form$ | async as form"
                      [formData]="form"
                      (nextAction)="onNextAction($event)"
                      (finishAction)="onSubmit()">
    <ng-template let-step_content let-nextStepHandle="nextStepHandle">
      <div appFormStep id="1" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'REGISTRATION.NAME' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <input id="name" class="form-control" type="text" formControlName="firstName" value="" autofocus>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="2" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'REGISTRATION.SURNAME' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <input id="lastName" class="form-control" type="text" formControlName="lastName" value="" autofocus>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="3" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'REGISTRATION.ID_NUMBER' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <input id="birthId" class="form-control" type="text" formControlName="birthId" value="" autofocus>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="4" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'REGISTRATION.EMAIL' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <input id="email" class="form-control" type="email" formControlName="email" value="" autofocus>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="5" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'REGISTRATION.PHONE' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <input id="phone" class="form-control" type="number" formControlName="phone" value="" autofocus>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="onSubmit()" routerLink="/form" routerLinkActive="active">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

  </app-multi-step-form>
</div>
