<h1>Pacient</h1>
<h4>Údaje</h4>
<ng-container *ngIf="form$ | async as form" [formGroup]="form">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Meno:</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="firstName"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Priezvisko:</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="lastName"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Rodné číslo:</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="birthId"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Email:</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="email"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Telefón:</label>
    <div class="col-sm-9">
      <input class="form-control" formControlName="phone"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <a class="btn btn-default" routerLink="/admin/patients" routerLinkActive="active">Naspäť</a>
      <button (click)="onSaveClick()" class="btn btn-primary">Uložiť</button>
    </div>
  </div>
</ng-container>

<h4>Odbery</h4>
<p *ngIf="patientId$ | async as patientId">
  <a class="btn btn-primary btn-sm" routerLink="/admin/exam/{{patientId}}/new" routerLinkActive="active">Nový odber</a>
</p>
<table class="table">
  <tr>
    <th>Dátum</th>
    <th>Odberné miesto</th>
    <th>Stav</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let exam of exams$ | async">
    <td>{{exam.date}}</td>
    <td>{{getInstitutionName(exam.institution) | async}}</td>
    <td>{{exam.status}}</td>
    <td><a routerLink="/admin/exam/{{exam.patientId}}/{{exam.id}}" routerLinkActive="active">Upraviť</a></td>
    <td><a routerLink="/admin/detail/{{exam.patientId}}" routerLinkActive="active" (click)="onDeleteClick(exam.id)">Zmazať</a></td>
  </tr>
</table>
