<app-header [icon]="icon" title="{{ 'FORM.TITLE' | translate }}"
            subTitle="{{ 'FORM.SUBTITLE' | translate }}"
            language="EN">
</app-header>
<div class="safe-zone">
  <app-multi-step-form *ngIf="form$ | async as form"
                       [formData]="form"
                       (nextAction)="onNextAction()"
                       (finishAction)="onSubmit()">

    <ng-template let-step_content let-nextStepHandle="nextStepHandle">
      <div appFormStep id="1" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.INSTITUTION' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.INSTITUTION_DESCRIPTION' | translate }}</div>


            <form [formGroup]="step_content">
              <div class="form-group">
                <select id="institutionId" class="form-control" formControlName="institutionId">
                  <option value="kramare">Kramare</option>
                  <option value="kramare2">Kramare 2</option>
                </select>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backToRegistration()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>


    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="2" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.COUGH' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.COUGH_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="cough">
                  <label btnRadio="none" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.COUGH_NONE' | translate }}</label>
                  <label btnRadio="mild" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.COUGH_MODEST' | translate }}</label>
                  <label btnRadio="severe" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.COUGH_SIGNIFICANT' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>


    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="3" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.BREATH_SHORTNESS' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.BREATH_SHORTNESS_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="breathShortness">
                  <label btnRadio="none" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.BREATH_SHORTNESS_NONE' | translate }}</label>
                  <label btnRadio="mild" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.BREATH_SHORTNESS_MODEST' | translate }}</label>
                  <label btnRadio="severe" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.BREATH_SHORTNESS_SIGNIFICANT' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="4" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.FEVER' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.FEVER_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="fever">
                  <label btnRadio="none" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.FEVER_NONE' | translate }}</label>
                  <label btnRadio="mild" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.FEVER_MILD' | translate }}</label>
                  <label btnRadio="severe" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.FEVER_SEVERE' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="5" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.OTHER' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.OTHER_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <textarea class="form-control" formControlName="other"></textarea>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="6" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.STAY_IN_ABROAD' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.STAY_IN_ABROAD_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="abroad">
                  <label btnRadio="yes" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.STAY_IN_ABROAD_YES' | translate }}</label>
                  <label btnRadio="no" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.STAY_IN_ABROAD_NO' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
       </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="7" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.CONTACT_WITH_FEVER' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.CONTACT_WITH_FEVER_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="illPersonContact">
                  <label btnRadio="yes" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.CONTACT_WITH_FEVER_YES' | translate }}</label>
                  <label btnRadio="no" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.CONTACT_WITH_FEVER_NO' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="nextStepHandle(step_content)">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-step_content let-backStepHandle="backStepHandle" let-nextStepHandle="nextStepHandle">
      <div appFormStep id="8" class="form-step">
        <div class="form-wrapper">

          <div class="form-center-content">
            <div class="registration-page__title">{{ 'FORM.CONTACT_WITH_COVID' | translate }}</div>
            <div class="registration-page__description text-secondary">{{ 'FORM.CONTACT_WITH_COVID_DESCRIPTION' | translate }}</div>

            <form [formGroup]="step_content">
              <div class="form-group">
                <div class="btn-group" btnRadioGroup formControlName="covid19Contact">
                  <label btnRadio="yes" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.CONTACT_WITH_COVID_YES' | translate }}</label>
                  <label btnRadio="no" class="btn btn-themed"
                         tabindex="0" role="button">{{ 'FORM.CONTACT_WITH_COVID_NO' | translate }}</label>
                </div>
              </div>
            </form>
          </div>
          <div class="bottom-cta">
            <button class="btn-prev btn btn-link text-uppercase" (click)="backStepHandle()"><fa-icon class="back-icon" [icon]="backIcon"></fa-icon> {{ 'NAVIGATION.BACK' | translate }}</button>
            <button class="btn-next btn btn-primary text-uppercase" (click)="onSubmit()" routerLink="/code" routerLinkActive="active">{{ 'NAVIGATION.NEXT' | translate }}</button>
          </div>
        </div>
      </div>
    </ng-template>
  </app-multi-step-form>
</div>
