<h1>Formular</h1>

<form>
  <div>
    <label>Odberne miesto:</label>
    <select>
      <option>Vyberte</option>
      <option>Kramare</option>
    </select>
  </div>
  <div>
    <label>Kasel:</label>
    <button>Ziadny</button>
    <button>Mierny</button>
    <button>Vyrazny</button>
  </div>
  <div>
    <label>Dychavicnost:</label>
    <button>Ziadna</button>
    <button>Mierna</button>
    <button>Vyrazna</button>
  </div>
  <div>
    <label>Horucka nad 38°C:</label>
    <button>Ano</button>
    <button>Nie</button>
  </div>
  <div>
    <label>Ine:</label>
    <textarea></textarea>
  </div>
  <div>
    <a routerLink="/registration" routerLinkActive="active">Naspat</a>
    <a routerLink="/code" routerLinkActive="active">Dokoncit</a>
  </div>
</form>
