name: "Triage CI"

on: [push]
#  pull_request:
#    branches: [master]

jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm --prefix ./frontend ci
      - run: npm --prefix ./frontend test
      - run: npm --prefix ./frontend run build

